.bot-comment-outercontainer
{
    display: flex;
    justify-content: start;
}
.bot-comment-message{
    height: auto;
    background-color: orange;
    padding: 10px;
    border-radius: 15px;
    border-top-left-radius: 0;
    max-width: 80%;
    color: black;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 15px;
}